/Clase01-11ENE/Clase01/target/
/Clase02-16ENE/AprendiendoJava/target/
/Clase03-18ENE/Proyecto03/target/
/Clase04-23ENE/AprendiendoJava/target/
/Clase06-MA30ENE/AprendiendoJava/target/
/Clase07-JU01FEB/PC2_POO_ALIAGA/PC2.Ejercicio1/target/
/Clase07-JU01FEB/PC2_POO_ALIAGA/PC2.Ejercicio2/target/
/Clase07-JU01FEB/POO-PC2-QUISPE/PC2PY1QUISPE/target/
/Clase07-JU01FEB/POO-PC2-QUISPE/PC2PY2QUISPE/target/
/Clase10-MA13FEB/RevisandoConceptos/target/
